<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="cf.playhi.freezeyou">

    <uses-sdk tools:overrideLibrary="net.grandcentrix.tray" />

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /><!-- 开关蓝牙 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" /><!-- 安装快捷方式 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" /><!-- 安装快捷方式 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /><!-- 部分奇怪的设备需要这个权限才能开关WIFI -->
    <uses-permission android:name="android.permission.MODIFY_PHONE_STATE" /><!-- 开关移动数据，需 pri app -->
    <uses-permission android:name="android.permission.CHANGE_COMPONENT_ENABLED_STATE" />
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <permission
        android:name="cf.playhi.freezeyou.permission.GET_DISABLED_APPLICATIONS"
        android:description="@string/getDisabledApplications"
        android:icon="@drawable/ic_notification"
        android:label="@string/getDisabledApplications"
        android:protectionLevel="normal" />
    <permission
        android:name="cf.playhi.freezeyou.permission.ENABLE_APPLICATIONS"
        android:description="@string/enableApplications"
        android:icon="@drawable/ic_notification"
        android:label="@string/enableApplications"
        android:protectionLevel="dangerous" />
    <permission
        android:name="cf.playhi.freezeyou.permission.DISABLE_APPLICATIONS"
        android:description="@string/disableApplications"
        android:icon="@drawable/ic_notification"
        android:label="@string/disableApplications"
        android:protectionLevel="dangerous" />
    <permission
        android:name="cf.playhi.freezeyou.permission.QUERY_STATUS"
        android:description="@string/queryStatus"
        android:icon="@drawable/ic_notification"
        android:label="@string/queryStatus"
        android:protectionLevel="normal" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher_new_round"
        android:roundIcon="@mipmap/ic_launcher_new_round"
        android:label="@string/app_name"
        android:supportsRtl="true">

        <activity
            android:name=".Main"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:icon="@mipmap/ic_launcher_new_round"
            android:roundIcon="@mipmap/ic_launcher_new_round"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Default"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="start"
                    android:scheme="freezeyou" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="run"
                    android:scheme="freezeyou" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ThirdIcon"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher_new_round"
            android:roundIcon="@mipmap/ic_launcher_new_round"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:targetActivity=".Main"
            android:theme="@style/AppTheme.Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".FirstIcon"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:targetActivity=".Main"
            android:theme="@style/AppTheme.Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".SecondIcon"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:enabled="false"
            android:icon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:targetActivity=".Main"
            android:theme="@style/AppTheme.Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity
            android:name=".Freeze"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:documentLaunchMode="always"
            android:label="@string/disableAEnable"
            android:launchMode="singleInstance"
            android:maxRecents="6"
            android:theme="@style/AppTheme.Default.Dialog"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ForceStop"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:label="@string/forceStop"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OneKeyFreeze"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:label="@string/oneKeyFreeze"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OneKeyUF"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:label="@string/oneKeyUF"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManualMode"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/manualMode"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".UriFreezeActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:label="@string/disableAEnable"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Default.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="fuf"
                    android:scheme="freezeyou" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScheduledTasksManageActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:icon="@drawable/ic_shortcut_access_alarm"
            android:label="@string/scheduledTasks"
            android:theme="@style/AppTheme.Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InstallPackagesActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:enabled="false"
            android:excludeFromRecents="true"
            android:label="@string/installAndUninstall"
            android:launchMode="singleInstance"
            android:process=":installAndUninstall"
            android:theme="@style/AppTheme.Default.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.INSTALL_PACKAGE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="application/vnd.android.package-archive" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DELETE" />
                <action android:name="android.intent.action.UNINSTALL_PACKAGE" />

                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="package" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ScheduledTasksAddActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".SelectOperation"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/moreSettings"
            android:theme="@style/AppTheme.Default">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Uninstall"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/about"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".FirstTimeSetupActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".AutoDiagnosisActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/autoDiagnosis"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".ShowLogcatActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/showLogcat"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".FUFNotificationsManageActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/manageQuickFUFNoti"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".UserDefinedListsManageActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/manageMyCustomization"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".UriAutoAllowManageActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/manageUriAutoAllow"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".SelectShortcutIconActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/createLauncherShortcut"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".BackupMainActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/backupAndRestore"
            android:theme="@style/AppTheme.Default"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FullScreenImageViewerActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".SelectTargetActivityActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/plsSelect"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".BackupImportChooserActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/impt"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".LauncherShortcutConfirmAndGenerateActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/createLauncherShortcut"
            android:theme="@style/AppTheme.Default">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AskLockScreenActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:label="@string/askIfLockScreen"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Default.Dialog" />
        <activity
            android:name=".AskRunActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Default.Dialog" />
        <activity
            android:name=".ShowSimpleDialogActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Default.Dialog" />
        <activity
            android:name=".GetDisabledApplications"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:permission="cf.playhi.freezeyou.permission.GET_DISABLED_APPLICATIONS"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />
        <activity
            android:name=".DisableApplications"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:permission="cf.playhi.freezeyou.permission.DISABLE_APPLICATIONS"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />
        <activity
            android:name=".EnableApplications"
            android:excludeFromRecents="true"
            android:exported="true"
            android:launchMode="singleInstance"
            android:permission="cf.playhi.freezeyou.permission.ENABLE_APPLICATIONS"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />
        <activity
            android:name=".OneKeyScreenLockImmediatelyActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:icon="@drawable/screenlock"
            android:label="@string/oneKeyLockScreen"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FUFLauncherShortcutCreator"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:label="@string/disableAEnable"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".ShortcutLauncherFolderActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:label="@string/folder"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Default.Dialog">
            <intent-filter>
                <action android:name="android.intent.action.CREATE_SHORTCUT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CommandExecutorActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/commandExecutionTool"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".AppLockActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.Default" />


        <receiver
            android:name=".DeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SecretCodeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data
                    android:host="373393968"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".UninstallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".PackageReplacedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".LocaleChangedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.LOCALE_CHANGED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receiver.NotificationDeletedReceiver"
            android:exported="false" />
        <receiver
            android:name=".InstallPackagesFinishedReceiver"
            android:exported="false" />
        <receiver
            android:name=".TasksNeedExecuteReceiver"
            android:exported="false" />

        <service
            android:name=".ScreenLockOneKeyFreezeService"
            android:exported="false"
            android:process=":backgroundService" />
        <service
            android:name=".InstallPackagesService"
            android:exported="false"
            android:process=":backgroundService" />
        <service
            android:name=".TriggerTasksService"
            android:exported="false"
            android:process=":backgroundService" />
        <service
            android:name=".AccessibilityService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":backgroundService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".OneKeyFreezeQSTileService"
            android:icon="@drawable/ic_notification"
            android:label="@string/oneKeyFreeze"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".OneKeyUFQSTileService"
            android:icon="@drawable/ic_notification"
            android:label="@string/oneKeyUF"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".OneKeyScreenLockQSTileService"
            android:icon="@drawable/ic_notification"
            android:label="@string/oneKeyLockScreen"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".LaunchFreezeYouQSTileService"
            android:icon="@drawable/ic_notification"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".OneKeyFreezeService"
            android:exported="false"
            android:label="@string/oneKeyFreeze"
            android:process=":backgroundService" />
        <service
            android:name=".OneKeyUFService"
            android:exported="false"
            android:label="@string/oneKeyUF"
            android:process=":backgroundService" />
        <service
            android:name=".FUFService"
            android:exported="false"
            android:label="@string/freezeAUF"
            android:process=":backgroundService" />
        <service
            android:name=".ForceStopService"
            android:exported="false"
            android:label="@string/forceStop"
            android:process=":backgroundService" />
        <service
            android:name=".MyNotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
            android:process=":backgroundService">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <provider
            android:name="cf.playhi.freezeyou.export.Query"
            android:authorities="cf.playhi.freezeyou.export.QUERY"
            android:exported="true"
            android:permission="cf.playhi.freezeyou.permission.QUERY_STATUS"
            android:process=":backgroundService" />
        <provider
            android:name="cf.playhi.freezeyou.export.Unfreeze"
            android:authorities="cf.playhi.freezeyou.export.UNFREEZE"
            android:exported="true"
            android:permission="cf.playhi.freezeyou.permission.ENABLE_APPLICATIONS"
            android:process=":backgroundService" />
        <provider
            android:name="cf.playhi.freezeyou.export.Freeze"
            android:authorities="cf.playhi.freezeyou.export.FREEZE"
            android:exported="true"
            android:permission="cf.playhi.freezeyou.permission.DISABLE_APPLICATIONS"
            android:process=":backgroundService" />
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="cf.playhi.freezeyou.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>

</manifest>
