<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"

    package="cf.playhi.freezeyou">

    <uses-sdk tools:overrideLibrary="net.grandcentrix.tray" />

    <uses-permission android:name="android.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission
        android:name="cf.playhi.freezeyou.permission.GET_DISABLED_APPLICATIONS"
        android:description="@string/getDisabledApplications"
        android:icon="@mipmap/ic_launcher_new_round"
        android:label="@string/getDisabledApplications"
        android:protectionLevel="normal" />
    <permission
        android:name="cf.playhi.freezeyou.permission.ENABLE_APPLICATIONS"
        android:description="@string/enableApplications"
        android:icon="@mipmap/ic_launcher_new_round"
        android:label="@string/enableApplications"
        android:protectionLevel="dangerous" />
    <permission
        android:name="cf.playhi.freezeyou.permission.DISABLE_APPLICATIONS"
        android:description="@string/disableApplications"
        android:icon="@mipmap/ic_launcher_new_round"
        android:label="@string/disableApplications"
        android:protectionLevel="dangerous" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher_new_round"
        android:label="@string/app_name"
        android:manageSpaceActivity=".SettingsActivity"
        android:supportsRtl="true">
        <activity
            android:name=".Main"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:icon="@mipmap/ic_launcher_new_round"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Default"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>

        <activity-alias
            android:name=".ThirdIcon"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher_new_round"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:targetActivity=".Main"
            android:theme="@style/AppTheme.Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".FirstIcon"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:targetActivity=".Main"
            android:theme="@style/AppTheme.Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:name=".SecondIcon"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:enabled="true"
            android:icon="@mipmap/ic_launcher_round"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:targetActivity=".Main"
            android:theme="@style/AppTheme.Default">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>

        <activity
            android:name=".Freeze"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:documentLaunchMode="always"
            android:label="@string/disableAEnable"
            android:launchMode="standard"
            android:maxRecents="3"
            android:theme="@style/AppTheme.Translucent.NoTitleBar"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OneKeyFreeze"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:documentLaunchMode="always"
            android:label="@string/oneKeyFreeze"
            android:launchMode="standard"
            android:maxRecents="1"
            android:theme="@style/AppTheme.Translucent.NoTitleBar"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OneKeyUF"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:documentLaunchMode="always"
            android:label="@string/oneKeyUF"
            android:launchMode="standard"
            android:maxRecents="1"
            android:theme="@style/AppTheme.Translucent.NoTitleBar"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ManualMode"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/manualMode"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".ScheduledTasksManageActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/scheduledTasks"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".ScheduledTasksAddActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".SelectOperation"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/moreSettings"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".Uninstall"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" />
        <activity
            android:name=".AboutActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:label="@string/about"
            android:theme="@style/AppTheme.Default" />
        <activity
            android:name=".AskLockScreenActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:label="@string/askIfLockScreen"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />
        <activity
            android:name=".AskRunActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />
        <activity
            android:name=".GetDisabledApplications"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="cf.playhi.freezeyou.permission.GET_DISABLED_APPLICATIONS"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />
        <activity
            android:name=".DisableApplications"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="cf.playhi.freezeyou.permission.DISABLE_APPLICATIONS"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />
        <activity
            android:name=".EnableApplications"
            android:excludeFromRecents="true"
            android:exported="true"
            android:permission="cf.playhi.freezeyou.permission.ENABLE_APPLICATIONS"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />
        <activity
            android:name=".OneKeyScreenLockImmediatelyActivity"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:documentLaunchMode="always"
            android:label="@string/oneKeyLockScreen"
            android:launchMode="standard"
            android:maxRecents="1"
            android:theme="@style/AppTheme.Translucent.NoTitleBar"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".DeviceAdminReceiver"
            android:description="@string/app_name"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SecretCodeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE" />
                <data
                    android:host="373393968"
                    android:scheme="android_secret_code" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".UninstallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".widget.OneKeyFreezeWidget"
            android:label="@string/oneKeyFreeze">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_onekeyfreeze" />
        </receiver>
        <receiver
            android:name=".widget.OneKeyUFWidget"
            android:label="@string/oneKeyUF">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_onekeyuf" />
        </receiver>
        <receiver
            android:name=".widget.OneKeyLockScreen"
            android:label="@string/oneKeyLockScreen">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_onekeylockscreen" />
        </receiver>
        <receiver
            android:name=".receiver.NotificationDeletedReceiver"
            android:exported="false" />
        <receiver
            android:name=".TasksNeedExecuteReceiver"
            android:exported="false" />

        <service
            android:name=".ScreenLockOneKeyFreezeService"
            android:exported="false"
            android:process=":backgroundService" />
        <service
            android:name=".AccessibilityService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:process=":backgroundService">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:name=".OneKeyFreezeQSTileService"
            android:icon="@drawable/ic_notification"
            android:label="@string/oneKeyFreeze"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".OneKeyUFQSTileService"
            android:icon="@drawable/ic_notification"
            android:label="@string/oneKeyUF"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".OneKeyScreenLockQSTileService"
            android:icon="@drawable/ic_notification"
            android:label="@string/oneKeyLockScreen"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>
        <service
            android:name=".OneKeyFreezeService"
            android:exported="false"
            android:label="@string/oneKeyFreeze"
            android:process=":backgroundService" />
        <service
            android:name=".OneKeyUFService"
            android:exported="false"
            android:label="@string/oneKeyUF"
            android:process=":backgroundService" />
        <service
            android:name=".OneKeyScreenLockImmediatelyService"
            android:exported="false"
            android:label="@string/oneKeyLockScreen"
            android:process=":backgroundService" />
        <service
            android:name=".FUFService"
            android:exported="false"
            android:label="@string/freezeAUF"
            android:process=":backgroundService" />
    </application>

</manifest>
