<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="cf.playhi.freezeyou">

    <uses-permission android:name="android.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <permission
        android:name="cf.playhi.freezeyou.permission.GET_DISABLED_APPLICATIONS"
        android:description="@string/getDisabledApplications"
        android:icon="@mipmap/ic_launcher_new_round"
        android:label="@string/getDisabledApplications"
        android:protectionLevel="normal"/>
    <permission
        android:name="cf.playhi.freezeyou.permission.ENABLE_APPLICATIONS"
        android:description="@string/enableApplications"
        android:icon="@mipmap/ic_launcher_new_round"
        android:label="@string/enableApplications"
        android:protectionLevel="dangerous"/>
    <permission
        android:name="cf.playhi.freezeyou.permission.DISABLE_APPLICATIONS"
        android:description="@string/disableApplications"
        android:icon="@mipmap/ic_launcher_new_round"
        android:label="@string/disableApplications"
        android:protectionLevel="dangerous"/>

    <application
        android:allowBackup="true"
        android:name=".MainApplication"
        android:icon="@mipmap/ic_launcher_new_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:manageSpaceActivity=".SettingsActivity">
        <activity
            android:name=".Main"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:launchMode="singleTask"
            android:icon="@mipmap/ic_launcher_new_round"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.Default" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity-alias
            android:enabled="true"
            android:label="@string/app_name"
            android:name=".ThirdIcon"
            android:icon="@mipmap/ic_launcher_new_round"
            android:targetActivity=".Main"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Default" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:enabled="true"
            android:label="@string/app_name"
            android:name=".FirstIcon"
            android:icon="@mipmap/ic_launcher"
            android:targetActivity=".Main"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Default" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity-alias
            android:enabled="true"
            android:label="@string/app_name"
            android:name=".SecondIcon"
            android:icon="@mipmap/ic_launcher_round"
            android:targetActivity=".Main"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.Default" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity-alias>
        <activity
            android:name=".Freeze"
            android:label="@string/disableAEnable"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:launchMode="standard"
            android:documentLaunchMode="always"
            android:maxRecents="3"
            android:theme="@style/AppTheme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".OneKeyFreeze"
            android:label="@string/oneKeyFreeze"
            android:launchMode="standard"
            android:documentLaunchMode="always"
            android:maxRecents="1"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@style/AppTheme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".OneKeyUF"
            android:label="@string/oneKeyUF"
            android:launchMode="standard"
            android:documentLaunchMode="always"
            android:maxRecents="1"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@style/AppTheme.Translucent.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ManualMode"
            android:label="@string/manualMode"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@style/AppTheme.Default"/>
        <activity
            android:name=".SelectOperation"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@style/AppTheme.Translucent.NoTitleBar"/>
        <activity
            android:name=".SettingsActivity"
            android:label="@string/moreSettings"
            android:theme="@style/AppTheme.Default"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"/>
        <activity
            android:name=".Uninstall"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar"/>
        <activity
            android:name=".AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme.Default"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"/>
        <activity
            android:name=".AskLockScreenActivity"
            android:label="@string/askIfLockScreen"
            android:excludeFromRecents="true"
            android:theme="@style/AppTheme.Translucent.NoTitleBar"
            android:configChanges="orientation|screenLayout|smallestScreenSize|screenSize|keyboard|keyboardHidden|mcc|mnc|navigation"/>
        <activity
            android:name=".GetDisabledApplications"
            android:exported="true"
            android:excludeFromRecents="true"
            android:permission="cf.playhi.freezeyou.permission.GET_DISABLED_APPLICATIONS"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />
        <activity
            android:name=".DisableApplications"
            android:exported="true"
            android:excludeFromRecents="true"
            android:permission="cf.playhi.freezeyou.permission.DISABLE_APPLICATIONS"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />
        <activity
            android:name=".EnableApplications"
            android:exported="true"
            android:excludeFromRecents="true"
            android:permission="cf.playhi.freezeyou.permission.ENABLE_APPLICATIONS"
            android:theme="@style/AppTheme.Translucent.NoTitleBar" />

        <receiver
            android:name=".DeviceAdminReceiver"
            android:label="@string/app_name"
            android:description="@string/app_name"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/device_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".SecretCodeReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.provider.Telephony.SECRET_CODE"/>
                <data android:scheme="android_secret_code" android:host="373393968"/>
            </intent-filter>
        </receiver>
        <receiver
            android:name=".UninstallReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_FULLY_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".BootCompletedReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter >
                <action android:name="android.intent.action.PACKAGE_REPLACED"/>
                <data android:scheme="package"/>
            </intent-filter>
        </receiver>
        <service
            android:process=":screenLockOneKeyFreezeService"
            android:exported="false"
            android:name=".ScreenLockOneKeyFreezeService" />
        <service
            android:process=":backgroundService"
            android:name=".AccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
        <service
            android:process=":backgroundService"
            android:label="@string/oneKeyFreeze"
            android:exported="false"
            android:name=".OneKeyFreezeService" />
        <service
            android:process=":backgroundService"
            android:label="@string/oneKeyUF"
            android:exported="false"
            android:name=".OneKeyUFService" />
    </application>

</manifest>
